
body{

    background-color: yellowgreen;
    margin:0;
    padding:0


}

.link-title{
    text-decoration: none;
    font-size: 24px;
    color: rgb(30, 0, 70);
}

.container{
    background-color: rosybrown;

    width: 780px;
    height: 800px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px;
}

.header{

    /*border: 2px solid silver;*/
    padding: 40px 0px 20px 40px;
}

.menu{

    background-color: blueviolet;
    padding: 6px 0 6px 40px;
}
.menu a{

    color: hotpink;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Arial Narrow', Helvetica, sans-serif;
}

.menu a:hover{
    color: brown;
    text-decoration: underline;
}

aside{
    float: left;
    width: 120px;
    padding: 30px 0 0 40px;
}

aside img{
    
    width: 100%;
    border: solid 3px gold;
}

h1{
    color:midnightblue;
    font-weight: normal;
}

.main{
    margin: 0 0 0 180px;
    padding: 35px 40px 30px 0;
    font-family: Georgia;
    line-height: 18px;
    text-emphasis: justify;

}
.main a:hover{
    color: coral;
}

#home-image img{
    width: 100%;
}


footer{
    padding: 6px 40px 6px 40px;
    background-color: rgb(42, 144, 202);
    font-size: 13px;
    text-decoration: right; 

}


footer a{
    text-decoration: none;

}

.seperator{
    color: gold;
    font-size: 15px;
}


/******** about page style *********/

#about-page #home-image img{

    width: 70%;
    float: left;
    margin-bottom: 17px;
}

#about-page #profile-info{

    width: 20%;
    float: right;
    margin: 5%;
    color: springgreen;
    /*** it was 5px ***/

}

#about-page .description {

    clear: both;

}

/******** contact page style *********/

#contact #form {

    /*border: 2px solid;*/
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    width: 500px;
}

#contact .page-heading{

    margin: 0 auto;
    /*border: 2px solid;*/
    text-align: center;
    height: 50px;
}


#contact #form input{

    width: 100%;
    border-radius: 5px;
    height: 20px;
    background-color: rgb(141, 145, 136);

}

#contact #form #message-box{

    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(141, 145, 136);

}

#contact #form label {

    color: chartreuse;
    font-family: monospace;
    font-size: 23px;
}

#contact #form #submit-button{

    height: 30px;
    text-align: center;
    color: darkgreen;
    background: darkkhaki;
}